/*
  ========================================
  SETUP
  ========================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*
  ========================================
  VARIABLES
  ========================================
*/
:root {
    --text-color: hsl(0, 0%, 100%);
    --hover: #0ef5a8;

    --social-link-item: #454769;
    --card-background: #282a4f;
    --page-background: #1a1b41;
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/

html {
    font-family: "Inter", sans-serif;
}

.header-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color);
}

.location-text {
    font-size: 0.67rem;
    font-weight: 600;
    color: var(--hover);
}

.summary-text {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.social-link-text {
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--text-color);
}

/*
  ========================================
  STYLES
  ========================================
*/

body {
    height: 100vh; /* the height of the current screen */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--page-background);
}

.card {
    max-width: 375px;
    height: fit-content;

    margin: 20px;
    padding: 24px;
    border-radius: 9px;

    background-color: var(--card-background);
}

.card-profile-photo {
    display: flex;

    justify-content: center;
}

.card-profile-photo img {
    border-radius: 50%;

    max-width: 45%;
    margin-bottom: 20px;
}

.card-user-info {
    text-align: center;
    line-height: 1.5;

    margin-bottom: 10px;
}

.card-user-profile-summary {
    text-align: center;
    margin-bottom: 10px;
}

.social-link-item {
    text-align: center;
    text-decoration: none;
    background-color: var(--social-link-item);

    border-radius: 7px;
    margin-bottom: 0.5rem;
    padding: 4%;

    width: 100%;
    display: inline-block;
}

.social-link-item:hover {
    background-color: var(--hover);
}
